body{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
width: 100%;
margin:10%;
}


#navbar {
    border-radius: 78pt;
    border: 1px solid black;
    width: 600px;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    padding: 24px;
    align-items: center;
    background-color: rgb(238, 236, 201);
}

#logo{
width: 30px;
height: 30px;
}

button{
margin: 4px;

}
#button1{
flex-grow: 1;
border-radius: 16pt;
width: 107px;
height: 45px;
background-color: rgb(225, 196, 8);
color: brown;
font-weight: bold;
font-size: 10pt;
}

#button1:nth-of-type(3){
    flex-grow: 5;
    border-radius: 16pt;
    width: 107px;
    height: 55px;
    background-color: rgb(225, 196, 8);
    color: brown;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button:hover{
    cursor: pointer;
}

.product_card {
    display: flex;
    flex-direction: column;
    width: 264px;
    height: 374px;
    border-radius: 68pt;
    background-color: lightgoldenrodyellow;
    color: saddlebrown;
    justify-content: space-between;
    align-items: center;
}

.img_product{
    width: 264px;
    height: 231px;
    border-radius: 52pt 52pt 0pt 0pt;
}


.flex_art{
    background-color: rgb(238, 236, 201);
    height: 100%;
    margin: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
}

.img_art{
    margin: 4%;
    width: 20em;
    flex-grow: 0;
}

.article{
    color: saddlebrown;
    margin: 4%;
    flex-grow: 1;
}